* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header,
.nav-list {
  display: flex;
  justify-content: space-between;
}

.header {
  align-items: center;
  flex-wrap: wrap;

  background-color: #262626;
  
  padding: 20px 27px;

  position: fixed;

  width: 100%;
}

.logo {
  width: 200px;
}

.navigation {
  margin: 10px 0;
}

.nav-list {
  width: 266px;
}

.nav-item-link,
.button {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-item-link:hover {
  color: #CFAF7B;
}

.button {
  font-size: 12px;

  border: 2px solid white;
  border-radius: 3px;
  
  padding: 1.1em 1.7em;
}

.button:hover {
  color: #262626;
  background-color: white;
}

.content {
  height: 100vh;

  background-image: url(./imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}